[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
eyed3 = "*"
python-dotenv = "*"
flask = "*"
mutagen = "*"

[dev-packages]

[requires]
python_version = "2.7"
